* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #fafafa;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: sans-serif;
    justify-content: center;


}
.container-imagens {
    position: relative;

}

.img-celular {
    width: 450px;


}

.container-formulario {
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    background: #ffffff;
    padding: 50px 40px 20px 40px;
    border-radius: 5px;
    width: 350px;
}

.insta-logo {
    margin-bottom: 20px;

}

input {
    height: 36px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    padding-left: 5px;
    margin-top: 10px;
    color: #262626;
    font-size: 12px;
    background: #fafafa;
    
}

button {
    background: #0095f5;
    height: 30px;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    margin-top: 20px;
    cursor: pointer;
}

.login-facebook {
    color: #385185;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;


}

.esqueceu-senha {
    color: #385185;
    text-align: center;
    cursor: pointer;
    font-size: 12px;


}

.imagem-celular {
    height: 520px;
    position: absolute;
    left: 153px;
    top: 20px;
    transition: opacity 2s;
}